* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.itam {
    /* width: 200px; */
    /* height: 200px; */
    background-color: white;
    border: 1px solid;
    font-size: 30px;
    text-align: center;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px;
    grid-gap: 5px;
}
body {
    background-color: blue;
}
 


not finsh